<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
    </ul>
</div>
