<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/mev-scenario-1-user">Scenario 1 MEV User</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/fallback-scenario-1-user">Scenario 1 Fallback User</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/comparison">Scenario 1 Comparison</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/mev-scenario-2-order">Scenario 2 MEV Order</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/fallback-scenario-2-order">Scenario 2 Fallback Order</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/mev-scenario-3-transfer">Scenario 3 MEV Transfer</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/fallback-scenario-3-transfer">Scenario 3 Fallback Transfer</NavLink></li>
    </ul>
</div>
