<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/mev-registration">MEV Registration</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/mev-order">MEV Order</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/fallback-registration">Fallback Registration</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/fallback-order">Fallback Order</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/comparison">Comparison</NavLink></li>
    </ul>
</div>
