<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Startup (IOptions)</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/monitor">Live (IOptionsMonitor)</NavLink></li>
    </ul>
</div>
