<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/user">User</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/event">Event</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/order">Order</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/profile">Profile</NavLink></li>
    </ul>
</div>
