<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/registration">Registration</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/order">Order</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/error-handling">Error Handling</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" href="/cancellation">Cancellation</NavLink></li>
    </ul>
</div>
